<%- include('./partials/header', { gestorInfo: gestorInfo, pageName: 'Cameras' }) %>

    <body class="">

        <div class="container grid grid-cols-5">

            <div id="loader"></div>

            <%- include('partials/menu.ejs', {gestorInfo:gestorInfo})%>
            <div class="flex flex-row border-2 border-red-500">
                <div>
                    AI AI
                </div>
            </div>


    </body>

    </html>