<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'HOME'
}) %>
<body class="">

    <div class="container grid grid-cols-4">
    
        <div id="loader"></div>
     
        <div class="col-start-1 col-span-2 md:col-span-1">
            <%- include('./partials/menu', {gestorInfo: gestorInfo}) %>             
        </div>    
           
    </div>

</body>

</html>