
    <div id="loader"></div>

    
    <div class="flex">  

        <%- include('./partials/menu', {gestorInfo: gestorInfo}) %> 
            
<<<<<<< HEAD
        <%- include('./partials/header', {gestorInfo: gestorInfo}) %>
=======
        <%- include('./partials/header', {
            gestorInfo: gestorInfo,
            pageName: 'HOME'
        }) %>

>>>>>>> 69d32b9e1bfb9c8a5edb0f5e05a600489270965f
               
        
           
    </div>    

</body>

</html>