<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'HOME'
}) %>
    
    <div id="loader"></div>

    <div class="">  

        <%- include('./partials/menu', {gestorInfo: gestorInfo}) %>               
        
           
    </div>    

</body>

</html>