<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'HOME'
}) %>

<body class="">

    <div class="grid grid-cols-7">
    
        <div id="loader"></div>
     
        <%- include('./partials/menu', {gestorInfo: gestorInfo}) %>         
           
    </div>

</body>

</html>