<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'HOME'
}) %>
<body class="">

    <div class="container grid grid-cols-5">
    
        <div id="loader"></div>
     
        <%- include('./partials/menu', {gestorInfo: gestorInfo}) %>  
           
    </div>

</body>

</html>