
    <div id="loader"></div>

    
    <div class="flex">  

        <%- include('./partials/menu', {gestorInfo: gestorInfo}) %> 
            
        <%- include('./partials/header', {
            gestorInfo: gestorInfo,
            pageName: 'HOME'
        }) %>

               
        
           
    </div>    

</body>

</html>