<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>Login</title>
</head>

<body class="h-screen w-screen flex items-center justify-center bg-gray-100">

    <div class="bg-white shadow-md rounded-md p-8 w-96">

        <img src="/img/logo.png" alt="Logo" class="pb-5">

        <h1 class="text-center">Painel</h1>    

        <form action="/login" method="post">
            <div class="py-4">
                <input placeholder="Email" type="email" name="email" id="" class="w-full bg-gray-50 border border-gray-base placegolder-gray-300 focus:outline-none">
            </div>
            <div class="py-4">
                <input placeholder="Senha" type="password" name="senha" id="" class="w-full bg-gray-50 border border-gray-base placegolder-gray-300 focus:outline-none">
            </div>            

            <div class="py-4">
                <input type="submit" value="Login" class="w-full text-black border-double border-4 bg-white hover:bg-gray-200 py-1">
            </div>
            
        </form>


        <!-- Exibir mensagem de erro se existir -->
        <% if (error) { %>
            <div class="card">
             <div class="card-body">
                    <p class="card-text"><%= error %></p>
             </div>
            </div>
        <% } %>


        <div class="py-2">
            <a href="/cadastrar">Cadastrar</a>
        </div>      
    
    
    </div>
</body>
</html>