<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTOR</title>
</head>
<body>
    
    <div id="loader"></div>

    <%- include('./partials/menu') %>

    <h1><%= gestorInfo.nome %></h1>
    <img style="width: 150px; height: 150px;" src="/uploads/<%= gestorInfo.nome %>/<%= gestorInfo.foto %>" alt="">

</body>
</html>