<aside class="col-start-1 h-screen w-full flex flex-col justify-between">

    <span class="text-3xl cursor-pointer mt-1 mx-2 md:hidden block">
        <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
      </span>
    </div>

    <script>
        function Menu(e){
          let list = document.querySelector('ul');
          e.name === 'menu' ? (e.name = "close",list.classList.add('top-[80px]') , list.classList.add('opacity-100')) :( e.name = "menu" ,list.classList.remove('top-[80px]'),list.classList.remove('opacity-100'))
        }
      </script>

    <ul class="flex flex-col justify-around md:flex z-[-1] md:z-auto md:static absolute bgcolormain h-full w-full left-0 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
        
        <div class="mx-auto">
            <img src="/img/logo2.png" alt="Logo" class="w-auto">
        </div>        


        <div class="mx-auto flex ">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16"><path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/></svg>
            <li class="mx-4">                
                <a href="/home">                
                    Home
                </a>
            </li>
        </div>
        <li class="mx-4">
            <a href="#">
                Câmeras
            </a>
        </li>
        <li class="mx-4">
            <a href="#">
                Histórico
            </a>
        </li>
        <li class="mx-4">
            <a href="/home/colaboradores">
                Colaboradores
            </a>
        </li>
        <li class="mx-4">
            <a href="#">
                Configurações
            </a>
        </li>
        <li class="mx-4">
            <a href="#">
                Dashboard
            </a>
        </li>


        <a href="/home/perfilGestor">
            <div class="flex flex-row">
                <img src="<%= imagePath %>" style='width: 50px; height: 50px; border-radius: 100%;' alt="<%= gestorInfo.name %>">
                <div>
                    <p>
                        <%= gestorInfo.nome %>
                    </p>
                    <a href="/logout">sair</a>
                </div>
            </div>
        </a>

        
        
    </ul>

    

</aside>